<div class="sidebar">
  <div class="sidebar-inner">
    <!-- ### $Sidebar Header ### -->
    <div class="sidebar-logo">
      <div class="peers ai-c fxw-nw">
        <div class="peer peer-greed">
          <div class="logo">
            <img width="65px" src="assets/static/images/logo.png" alt="">
          </div>
        </div>
        <div class="peer">

          <div class="mobile-toggle sidebar-toggle">
            <a routerLinkActive="active" href="" class="td-n">
              <i class="ti-arrow-circle-left"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- ### $Sidebar Menu ### -->
    <ul class="sidebar-menu scrollable pos-r">
      <li class="nav-item mT-30">
        <a routerLinkActive="active" class='sidebar-link' routerLink="dashboard" default>
                <span class="icon-holder">
                  <i class="ti-home"></i>
                </span>
          <span class="title">Tableau de bord</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class='sidebar-link' routerLink="user">
                <span class="icon-holder">
                  <i class=" ti-user"></i>
                </span>
          <span class="title">Usagers</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class='sidebar-link' routerLink="group">
                <span class="icon-holder">
                  <i class=" ti-list"></i>
                </span>
          <span class="title">Groupes</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class='sidebar-link' routerLink="professional">
                <span class="icon-holder">
                  <i class=" ti-briefcase"></i>
                </span>
          <span class="title">Professionnelles</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class='sidebar-link' routerLink="serafan">
                <span class="icon-holder">
                  <i class=" ti-calendar"></i>
                </span>
          <span class="title">Serafan</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class='sidebar-link' routerLink="category">
                <span class="icon-holder">
                  <i class="ti-layout-list-thumb"></i>
                </span>
          <span class="title">Categories</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class='sidebar-link' routerLink="statistics">
                <span class="icon-holder">
                  <i class="ti-bar-chart-alt"></i>
                </span>
          <span class="title">Statistiques</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class='sidebar-link' routerLink="settings">
                <span class="icon-holder">
                  <i class="ti-settings"></i>
                </span>
          <span class="title">Paramètres</span>
        </a>

      </li>
    </ul>
  </div>
</div>
