<div class="masonry-item col-md-12">
  <div class="bgc-white p-20 bd">
    <h6 class="c-grey-900 font-weight-bold">Ajouter une category</h6>
    <div class="mT-30">
      <form [formGroup]="form">
        <div class="form-group"><label for="inputIntitulé4">Intitulé</label><input formControlName="intitule" type="text" class="form-control" id="inputIntitulé4" placeholder="Intitulé"></div>
        <button (click)="insert()" type="submit" class="btn btn-outline-dark">Ajouter</button>
        <button (click)="goBack()" class="btn btn-outline-secondary">Annuler</button>
      </form>
    </div>
  </div>
</div>
