<div>
  <div class="row float-right">
    <div class="col-8 align-content-md-center align-content-sm-center float-right">
      <button type="button" (click)="add()" class="btn btn-outline-dark"  style="cursor: pointer;">
        Ajouter
      </button>
    </div>
  </div>
  <div class="row" style="width: 100%; text-align: center">
    <div class="col-4"></div>
    <div class="col-4 centered-content text-center align-content-center" >
      <div style="text-align: center; margin: auto;display: inline-block;" class="centered-content align-content-center ">
        <div class="inline-radio">
          <div><input type="radio" (click)="goTo(1)" ng-control="semaine"  [value]="1"  [(ngModel)]="semaine" name="semaine" [checked]="semaine === 1"><label>1A</label></div>
          <div><input type="radio" (click)="goTo(2)" ng-control="semaine"  [value]="2"  [(ngModel)]="semaine" name="semaine" [checked]="semaine === 2"><label>2B</label></div>
          <div><input type="radio" (click)="goTo(3)" ng-control="semaine"  [value]="3"  [(ngModel)]="semaine" name="semaine" [checked]="semaine === 3"><label>1C</label></div>
          <div><input type="radio" (click)="goTo(4)" ng-control="semaine"  [value]="4"  [(ngModel)]="semaine" name="semaine" [checked]="semaine === 4"><label>2D</label></div>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
  <div class="cd-schedule">
    <div class="timeline">
      <ul>
        <li><span class="tagbox ta noselect highlight">00:00</span></li>
        <li><span class="tagbox ta noselect highlight">00:30</span></li>
        <li><span class="tagbox ta noselect highlight">01:00</span></li>
        <li><span class="tagbox ta noselect highlight">01:30</span></li>
        <li><span class="tagbox ta noselect highlight">02:00</span></li>
        <li><span class="tagbox ta noselect highlight">02:30</span></li>
        <li><span class="tagbox ta noselect highlight">03:00</span></li>
        <li><span class="tagbox ta noselect highlight">03:30</span></li>
        <li><span class="tagbox ta noselect highlight">04:00</span></li>
        <li><span class="tagbox ta noselect highlight">04:30</span></li>
        <li><span class="tagbox ta noselect highlight">05:00</span></li>
        <li><span class="tagbox ta noselect highlight">05:30</span></li>
        <li><span class="tagbox ta noselect highlight">06:00</span></li>
        <li><span class="tagbox ta noselect highlight">06:30</span></li>
        <li><span class="tagbox ta noselect highlight">07:00</span></li>
        <li><span class="tagbox ta noselect highlight">07:30</span></li>
        <li><span class="tagbox ta noselect highlight">08:00</span></li>
        <li><span class="tagbox ta noselect highlight">08:30</span></li>
        <li><span class="tagbox ta noselect highlight">09:00</span></li>
        <li><span class="tagbox ta noselect highlight">09:30</span></li>
        <li><span class="tagbox ta noselect highlight">10:00</span></li>
        <li><span class="tagbox ta noselect highlight">10:30</span></li>
        <li><span class="tagbox ta noselect highlight">11:00</span></li>
        <li><span class="tagbox ta noselect highlight">11:30</span></li>
        <li><span class="tagbox ta noselect highlight">12:00</span></li>
        <li><span class="tagbox ta noselect highlight">12:30</span></li>
        <li><span class="tagbox ta noselect highlight">13:00</span></li>
        <li><span class="tagbox ta noselect highlight">13:30</span></li>
        <li><span class="tagbox ta noselect highlight">14:00</span></li>
        <li><span class="tagbox ta noselect highlight">14:30</span></li>
        <li><span class="tagbox ta noselect highlight">15:00</span></li>
        <li><span class="tagbox ta noselect highlight">15:30</span></li>
        <li><span class="tagbox ta noselect highlight">16:00</span></li>
        <li><span class="tagbox ta noselect highlight">16:30</span></li>
        <li><span class="tagbox ta noselect highlight">17:00</span></li>
        <li><span class="tagbox ta noselect highlight">17:30</span></li>
        <li><span class="tagbox ta noselect highlight">18:00</span></li>
        <li><span class="tagbox ta noselect highlight">18:30</span></li>
        <li><span class="tagbox ta noselect highlight">19:00</span></li>
        <li><span class="tagbox ta noselect highlight">19:30</span></li>
        <li><span class="tagbox ta noselect highlight">20:00</span></li>
        <li><span class="tagbox ta noselect highlight">20:30</span></li>
        <li><span class="tagbox ta noselect highlight">21:00</span></li>
        <li><span class="tagbox ta noselect highlight">21:30</span></li>
        <li><span class="tagbox ta noselect highlight">22:00</span></li>
        <li><span class="tagbox ta noselect highlight">22:30</span></li>
        <li><span class="tagbox ta noselect highlight">23:00</span></li>
        <li><span class="tagbox ta noselect highlight">23:30</span></li>
        <li><span class="tagbox ta noselect highlight">24:00</span></li>
      </ul>
    </div>
    <div class="events">
      <ul>
        <li class="events-group">
          <div class="top-info"><span>Lundi</span></div>
          <ul>
            <li *ngFor="let c of timeTable[1+(semaine-1)*5]" class="single-event" [attr.data-start]="c.heureDebut.slice(0,-3)" [attr.data-end]="c.heureFin.slice(0,-3)" data-content="event-abs-circuit" data-event="event-1">
              <a routerLink="../edit/{{c.id}}">
                <em class="event-name">{{c.sous_categorie.intitule}}</em>
              </a>
            </li>
          </ul>
        </li>

        <li class="events-group">
          <div class="top-info"><span>Mardi</span></div>
          <ul>
            <li *ngFor="let c of timeTable[2+(semaine-1)*7]" class="single-event" [attr.data-start]="c.heureDebut.slice(0,-3)" [attr.data-end]="c.heureFin.slice(0,-3)" data-content="event-abs-circuit" data-event="event-2">
              <a routerLink="../edit/{{c.id}}">
                <em class="event-name">{{c.sous_categorie.intitule}}</em>
              </a>
            </li>
          </ul>
        </li>

        <li class="events-group">
          <div class="top-info"><span>Mercredi</span></div>
          <ul>
            <li *ngFor="let c of timeTable[3+(semaine-1)*7]" class="single-event" [attr.data-start]="c.heureDebut.slice(0,-3)" [attr.data-end]="c.heureFin.slice(0,-3)" data-content="event-abs-circuit" data-event="event-3">
              <a routerLink="../edit/{{c.id}}">
                <em class="event-name">{{c.sous_categorie.intitule}}</em>
              </a>
            </li>
          </ul>
        </li>

        <li class="events-group">
          <div class="top-info"><span>Jeudi</span></div>
          <ul>
            <li *ngFor="let c of timeTable[4+(semaine-1)*7]" class="single-event" [attr.data-start]="c.heureDebut.slice(0,-3)" [attr.data-end]="c.heureFin.slice(0,-3)" data-content="event-abs-circuit" data-event="event-4">
              <a routerLink="../edit/{{c.id}}">
                <em class="event-name">{{c.sous_categorie.intitule}}</em>
              </a>
            </li>
          </ul>
        </li>

        <li class="events-group">
          <div class="top-info"><span>Vendredi</span></div>
          <ul>
            <li *ngFor="let c of timeTable[5+(semaine-1)*7]" class="single-event" [attr.data-start]="c.heureDebut.slice(0,-3)" [attr.data-end]="c.heureFin.slice(0,-3)" data-content="event-abs-circuit" data-event="event-3">
              <a routerLink="../edit/{{c.id}}">
                <em class="event-name">{{c.sous_categorie.intitule}}</em>
              </a>
            </li>
          </ul>
        </li>

        <li class="events-group">
          <div class="top-info"><span>Samedi</span></div>
          <ul>
            <li *ngFor="let c of timeTable[6+(semaine-1)*7]" class="single-event" [attr.data-start]="c.heureDebut.slice(0,-3)" [attr.data-end]="c.heureFin.slice(0,-3)" data-content="event-abs-circuit" data-event="event-2">
              <a routerLink="../edit/{{c.id}}">
                <em class="event-name">{{c.sous_categorie.intitule}}</em>
              </a>
            </li>
          </ul>
        </li>

        <li class="events-group">
          <div class="top-info"><span>Dimanche</span></div>
          <ul>
            <li *ngFor="let c of timeTable[7 + (semaine-1)*7]" class="single-event" [attr.data-start]="c.heureDebut.slice(0,-3)" [attr.data-end]="c.heureFin.slice(0,-3)" data-content="event-abs-circuit" data-event="event-1">
              <a routerLink="../edit/{{c.id}}">
                <em class="event-name">{{c.sous_categorie.intitule}}</em>
              </a>
            </li>
          </ul>
        </li>


      </ul>
    </div>

  </div>
</div>

