<div class="masonry-item col-md-12">
  <div class="bgc-white p-20 bd">
    <h6 class="c-grey-900 font-weight-bold">Changer le mot de passe</h6>
    <div class="mT-30">
      <form>
        <div class="form-group"><label for="inputPassword4">Nouveau mot de passe</label><input type="password" class="form-control" id="inputPassword4" placeholder="Mot  de passe"></div>
        <button type="submit" class="btn btn-outline-warning">Valider</button>
        <button (click)="goBack()" class="btn btn-outline-secondary">Annuler</button>
      </form>
    </div>
  </div>
</div>
