<div class="sidebar">
  <div class="sidebar-inner">
    <!-- ### $Sidebar Header ### -->
    <div class="sidebar-logo centered-content">
      <div class="peers ai-c fxw-nw centered-content">
        <div class="peer peer-greed centered-content">
          <div class="logo">
            <img width="65px" src="assets/static/images/logo.png" alt="">
          </div>
        </div>
        <div class="peer">

          <div class="mobile-toggle sidebar-toggle">
            <a routerLinkActive="active" href="" class="td-n">
              <i class="ti-arrow-circle-left"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- ### $Sidebar Menu ### -->
    <ul class="sidebar-menu scrollable pos-r">
      <li class="nav-item  mT-30">
        <a routerLinkActive="active" class='sidebar-link' routerLink="daily">
                <span class="icon-holder">
                  <i class=" ti-list"></i>
                </span>
          <span class="title">Activités journalières</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class='sidebar-link' routerLink="activity" default>
                <span class="icon-holder">
                  <i class="ti-plus"></i>
                </span>
          <span class="title">Ajouter une activité</span>
        </a>
      </li>
      <!--<li class="nav-item">-->
        <!--<a routerLinkActive="active" class='sidebar-link' routerLink="validate">-->
                <!--<span class="icon-holder">-->
                  <!--<i class="ti-check"></i>-->
                <!--</span>-->
          <!--<span class="title">Valider le jour</span>-->
        <!--</a>-->
      <!--</li>-->
      <li class="nav-item">
        <a routerLinkActive="active" class='sidebar-link' routerLink="timetable/show">
                <span class="icon-holder">
                  <i class="ti-calendar"></i>
                </span>
          <span class="title">Emploi du temps</span>
        </a>
      </li>
      <!--<li class="nav-item">-->
        <!--<a routerLinkActive="active" class='sidebar-link' routerLink="adaptation">-->
                <!--<span class="icon-holder">-->
                  <!--<i class="ti-book"></i>-->
                <!--</span>-->
          <!--<span class="title">Adaptations</span>-->
        <!--</a>-->
      <!--</li>-->
    </ul>
  </div>
</div>
