<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url(../../assets/static/images/bg-01.jpg);">
					<span class="login100-form-title-1">
						Se Connecter
					</span>
      </div>

      <form [formGroup]="form" class="login100-form validate-form">
        <div class="wrap-input100 validate-input m-b-26" data-validate="Nom d'utilisateur requis">
          <span class="label-input100">Nom d'utilisateur</span>
          <input formControlName="username" class="input100" type="text" name="username" placeholder="Entrer le nom d'utilisateur ">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-18" data-validate = "Mot de passe requis">
          <span class="label-input100">Mot de passe</span>
          <input formControlName="password" class="input100" type="password" name="pass" placeholder="Entrer le mot de passe">
          <span class="focus-input100"></span>
        </div>

        <div class="flex-sb-m w-full" style="padding-top: 25px;padding-bottom: 25px">
          <div class="contact100-form-checkbox">
            <input formControlName="admin" class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
              S'identifier en tant qu'administrateur
            </label>
          </div>
        </div>

        <div class="container-login100-form-btn">
          <button (click)="login()"  class="login100-form-btn">
            Se Connecter
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
